@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Raleway";
}

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    to right top,
    #e1a0c5,
    #d7a0ce,
    #c9a1d7,
    #b8a3df,
    #a5a5e4,
    #93abe9,
    #7fb2eb,
    #6db7ea,
    #62c0e7,
    #61c9e1,
    #6bd0d9,
    #7bd6d0
  );
}

.calendar {
  box-sizing: content-box;
  width: 500px;
  height: 500px;
  border-radius: 5px;
  margin: 12px;

  background-color: #59c1bd;
  box-shadow: 2px 2px 2px rgba(114, 111, 111, 0.185);
}

@media (max-width: 500px) {
  .App {
    flex-direction: column;
  }

  .calendar {
    width: 100%;
  }
}
