.user {
  width: 300px;
  height: 500px;
  background-color: aquamarine;
  margin-left: 22px;
}

@media (max-width: 500px) {
  .user {
    width: 100%;
    margin-left: 0px;
    margin-top: 22px;
  }
}
